@import url(Components/CardContainer/CardContainer.scss);
@import url(Components/Header/Header.scss);
@import url(Components/Card/Card.scss);
@import url(Components/NavBar/NavBar.scss);
@import url(Components/Weather/Weather.scss);

// Bg
.over{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(42, 38, 82, 0) 80%, rgba(22, 25, 99, 0.499) 100%);
    position: fixed;
    top: 0;
    left: 0;

    pointer-events: none;
}